*{
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    background-color: #ccc;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

main{
    padding: 15px;
}
.wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.content{
    display: flex;
    justify-content: space-around;
}



code{
    white-space: pre-wrap;
}

.general{    
    max-width: 350px;
    width: 100%;
    background-color: #333;
}

.photo_info{
    padding: 30px;
    background-color: #f7b83b;
}

.general img{
    max-width: 280px;
    width: 100%;
}

.fio{
    width: 100%;
    text-align: center;
}

.contacts{
    
    color: white;
}

.contacs_head{
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 2px solid yellow;
    padding: 10px;
}

.list_contacts{
    padding-left: 25px;
    list-style: none;
}

.list_contacts span{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 20px;
}

.email, .skype, .git, .telegram{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 21px;
}

.git{
    text-shadow:0px 1px 0 rgb(255, 255, 255),0px -1px 0 rgb(255, 255, 255),1px 0px 0 rgb(255, 255, 255),
                -1px 0px 0 rgb(255, 255, 255),1px 1px 0 rgb(255, 255, 255),1px -1px 0 rgb(255, 255, 255),
                -1px 1px 0 rgb(255, 255, 255),-1px -1px 0 rgb(255, 255, 255),0px 2px 0 rgb(255, 255, 255),
                0px -2px 0 rgb(255, 255, 255),2px 0px 0 rgb(255, 255, 255),-2px 0px 0 rgb(255, 255, 255),
                2px 2px 0 rgb(255, 255, 255),2px -2px 0 rgb(255, 255, 255),-2px 2px 0 rgb(255, 255, 255),
                -2px -2px 0 rgb(255, 255, 255);
    transition: all 0.3s;
}

.git a{
    text-decoration: none;
    color: black;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 3.5px;
    
}

.git:hover{
    transform: scale(1.1);
}

.information{
    background-color: gray;
}

.information h2{
    border-bottom: 2px solid dimgray;
}

.common{
    margin: 15px;
    background-color: #ffffff;
    
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
    padding: 20px;
}

.footer{
    background-color: #f7b83b;
    box-sizing: border-box;
    max-width: 1100px;
    
    
    padding: 30px 20px;
}

.nav_footer{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.nav_footer a{
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    color: black;
}

.lnk{
    transition: all 0.3s;
}

.lnk:hover{
    transform: scale(1.1);
}

.logo{
    transition: all 0.3s;
}

.logo:hover{
    transform: scale(1.1);
}

.logo img{
    width: 100px;
    height: 70px;
}

@media (max-width: 700px){
    .information{
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .photo_info{
        padding: 10px ;
    }

    .content{
        display: block;        
    }

    .general{
        max-width: 100%;
        text-align: center;
        padding-bottom: 15px;
    }

    .contacts{
        width: 100%;
        text-align: center;
    }

    .list_contacts{
        padding: 0;
    }

    .common{
        border: none;        
    }

}